@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --bg: #FFFAEF;
    --text: #000000;
    --primary: #b6d8ff;
    --secondary: #9FB3DF;
    --accent: #BDDDE4;
}


.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: var(--bg);
    font-family: "jost", sans-serif;
    color: var(--text);
}

svg {
    pointer-events: none;
}

p{
    font-size: large;
}

img{
    vertical-align: middle;
}

.navbar-container{
    position: sticky;
    top: 10px;
    margin: 0px 10px;
    background-color: var(--accent);
    padding: 5px;
    border-radius: 10px;
    z-index: 1000;
}

.navbar-content{
    height: 34px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0px 3px;
    text-transform: capitalize;
}

.logo{
    padding: 5px 5px 0 5px;
    width: 33vw;
    user-select: none;
}

.logo img{
    height: 30px;
}
.title{
    padding: 5px 5px 0 5px;
    width: 33vw;
    text-align: center;
}

.dropdown-button{
    user-select: none;
    padding: 5px 5px 0 5px;
    background-color: var(--bg);
    border-radius: 10px;
    
}

.desktop-links{
    display: flex;
    align-items: center;
    gap:20px;
    margin-right: 20px;
}

.desktop-hide{
    display: none;
}


.dropdown-button:hover{
    cursor: pointer;
}

.dropdown {
    display: flex;
    width: 33vw;
    justify-content: right;
  }

.dropdown a:not(.desktop-hide){
    color: black;
    text-decoration: none;
    display: flex;
    gap: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--accent);
  z-index: 3;
  min-width: 200px;
  top: 43px;
  right: 20px;
  flex-direction: column;
  gap: 10px;
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
  align-items: center;
}


.carosel{
    overflow: hidden;
    z-index: 0;
    position: relative;
    top: 20px;
    margin-bottom: 30px;
}

.img-slide{
    display: none;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.img-slide .image{
    width: 90%;
    height: 80vh;
    margin: 0 5%;
    object-fit: cover;
    filter: brightness(50%);
    z-index: 0;
    border-radius: 10px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.arrow{
    position: absolute;
    top: 50%;
    user-select: none;
    cursor: pointer;
    color:var(--bg);
    padding: 10px;
    z-index: 0;
}

.page-selector .arrow{
    color: black;
}

.back{
    left: 6%;
    
}

.forward{
    right: 6%;
}

.caption{
    color: var(--bg);
    position: absolute;
    top: 47%;
    width: 50%;
    left: 30%;
}

.section{
    position: relative;
    width: 90%;
    margin: 20px 5%;
    background-color: var(--accent);
    border-radius: 10px;
}

.page-selector{
    min-height: 300px;
}

.slide{
    color: var(--text);
    text-align: center;
    margin: 0px;
    text-decoration: none;
}

.slide h1{
    padding: 50px 0;
    color: var(--text);
    text-transform: capitalize;
}

.slide p{
    margin: 0 20%;
    padding: 0 0 50px 0;
    color: var(--text);
}

.slide a{
    text-decoration: none;
}

.page-selector .fade {
    animation-name: page-select-fade;
    animation-duration: 1.5s;
}

@keyframes page-select-fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.form{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.form input[type=text]{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    background-color: var(--bg);
}

.form input[type=submit]{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--bg);
    cursor: pointer;
}

.socials{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    padding: 5px;
}

.socials img{
    width:50px;
    height: 50px;
}

.index-info{
    background-color: var(--bg);
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

.index-info img{
    width: 30vw;
    height: auto;
}

.history{
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.history-point{
    display: flex;
    align-items: center;
}

.left{
    flex-direction: row;
}
.right{
    flex-direction: row-reverse;
}

.history-point-info img{
    width: 70%;
    margin: 0 15%;
}

.history-point-info{
    width: 70%;
}
.history-point h2{
    width: 30%;
    text-align: center;
}

.news{
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
}

.article{
    display: flex;
    gap: 30px;
    background-color: var(--accent);
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.featured{
    height: 400px;
    width: 100%;
}

.regular-article{
    height: 250px;
    width: 49.5%;
}

.article img{
    height: 100%;
    width:30%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.news-text{
    width: 50%;
    color: var(--text);
}

.gallery{
    background-color: var(--bg);
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    width: 25%;
}

.gallery-item{
    width: 100% - 10px;
    height: min-content;
    position: relative;
    cursor: pointer;
    z-index: 0;
    padding: 10px;
}

.gallery-image{
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
}

.hover-text{
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    pointer-events: none;
    color: var(--bg);
}

.gallery-item:hover .gallery-image{
    filter: brightness(40%);
    transition: ease 0.5s;
}

.gallery-item:hover .hover-text{
    display: block;
    transition: ease 0.5s;
}

.location{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

.location iframe{
    width: 100%;
    border-radius: 10px;
}

.location-text{
    text-align: center;
}

.contact-form{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    gap: 5px;
}

.contact-form input[type=text]{
    width: 90%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}
.contact-form textarea{
    width: 90%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    resize: vertical;
}
.contact-form input[type=submit]{
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}



@media only screen and (max-width: 1200px) {
    .index-info{
        flex-direction: column;
    }
    .index-info img{
        width: 80%;
        margin: 0 10%;
    }
    .regular-article{
        width: 100%;
    }
    .article img{
        width: 40%;
    }
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .desktop-links {
      display:none;
    }
    .desktop-hide{
        display: block;
    }
    .mobile-hide{
        display: none;
    }
    .dropdown a{
        color: black;
        text-decoration: none;
        display: flex;
        gap: 5px;
    }
    .img-slide .image{
        height: 70vh;
    }
    .form input[type=text]{
        width: 150px;
    }
    .index-info{
        flex-direction: column;
    }
    .index-info img{
    width: 100%;
    margin: 0;
    }
    .history-point-info img{
    width: 100%;
    margin: 0;
    }

    .featured{
        height: fit-content;
        flex-direction: column;
        gap: 5px;
    }
    .featured img{
        width: 100%;
    }

    .featured .news-text{
        width: 90%;
        margin: 0 5%;
        padding: 5px;
    }

    .regular-article{
        height: 150px;
    }

    .regular-article h2{
        line-height: 0.8;
    }
    .regular-article .news-text{
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
    }
    .column{
        flex: 100%;
        max-width: 100%;
    }
    .featured img{
        border-radius: 10px 10px 0 0;
    }

}